<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
 <groups>
  <run>
  <include name="sanity"/>
  <exclude name="regression"/>
  </run>
  </groups>
  <test name="Chrome_Test">
  <parameter name="os" value="windows"/>
  <parameter name="browser" value="chrome"/>
    <classes>
     <!-- <class name="testCases.TC_AccountRegistrationTest"/>-->
     <!-- <class name="testCases.TC_LoginTest"/>-->
          <class name="testCases.TC_Upload_Download_Func_Test"/>
    </classes>
  </test> <!-- Test -->
  
 <!-- <test name="Firefox_Test">
  <parameter name="os" value="windows"/>
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="testCases.TC_AccountRegistrationTest"/>-->
      <!-- <class name="testCases.TC_LoginTest"/>-->
   <!--  </classes>
  </test>-->
  
</suite> <!-- Suite -->
